/* Görmek için giriş yap */

  .auth-container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    max-height: max-content;
  }

  .auth {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 60px auto;
    padding: 20px;
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(37, 37, 37, 0.1);
  }

  .auth h2 {
    color: #cab7b7;
    border-bottom: 2px solid #5e0000;
    padding-bottom: 10px;
  }

  .auth h3 {
    color: #cab7b7;
    border-bottom: 2px solid #5e0000;
    padding-bottom: 10px;
  }

/* LAYOUT.HTML */

  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden !important;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    
    /* Background */
    background: url('/static/images/wallpaper.jpg');
    background-color: #121212;
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }

  header {
    grid-area: header;
    padding: 1em 0;
    text-align: center;
    color: #ffffff;
  }

  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 7fr;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 100%;
    overflow-x: hidden !important;
    overflow: hidden;
    -ms-grid-areas: "sidebar content";
    grid-template-areas: "sidebar content";
  }

  .header-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
    -webkit-align-items: center;
    -ms-flex-align: center;
    overflow-x: hidden !important;
    padding: 0 20px;
    flex-wrap: wrap;
    max-width: 100%; 
    overflow: hidden; 
  }

  header a {
    color: #e0e0e0;
    text-decoration: none;
  }

  header a:hover,
  header a:active {
    color: #e0e0e0;
    text-decoration: none;
  }

  header h1 {
    font-size: 3em;
    margin: 0;
    display: inline-block;
  }

  header p {
    font-size: 1.2em;
    margin-top: 0.5em;
    font-style: italic;
  }

  .logo-title-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: transparent;
  }

  .logo {
    height: 140px;
    width: 200px;
    margin-right: 20px;
    mix-blend-mode: normal;
    background-color: transparent;
  }

  nav {
    margin: 3em auto;
    width: 80%;
    background-color: #121212;
    border-radius: 8px;
    padding: 1.5em;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin: 1.5em 0;
  }

  nav a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  nav a:hover {
    color: #fff;
    background-color: hwb(0 0% 30%);
  }

  nav a:active {
    background-color: hwb(0 0% 30%);
  }


  .text-container {
    flex-shrink: 0;
  }

  /* auth menu header sağındaki */
  .auth-menu {
    width: max-content;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    min-width: 100px;
    max-width: 100%;
    overflow-x: hidden !important;
    overflow: hidden;
  }

  .auth-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
  }

  .auth-menu li {
    margin: 0;
    white-space: nowrap;
  }

  .auth-menu a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
    padding: 8px 15px;
  }

  .auth-menu a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  /* Background */
  .bg-wallpaper {
    background: url('/static/images/wallpaper.jpg');
    background-color: #121212;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /* Navbar */
  .navbar {
    background-color: #121212;
    padding: 0.1px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  .navbar li {
    padding: 5px 20px;
  }

  .navbar a {
    text-decoration: none;
    color: #ffffff;
  }

  .navbar a:hover {
    color: #adadad;
  }

  /* FOOTER */
  footer {
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.3);  /* sondaki opaklık değeri */
    color: #e0e0e0;
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #333;
    font-size: 0.9em;
    overflow-x: hidden !important;
    width: 100%;
    margin-top: auto;
  }
  
  footer a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    color: #fff;
  }